@import url("https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800");
@import url("https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic");
#root {
  background: #f05e40;
  padding: 10px;
  margin: auto;
  text-align: center;
  color: black;
  display: block;
  height: 500px; }

body {
  font-family: "Open Sans";
  color: #000; }
